.lps-node {
    -fx-background-color: white;
}

.lps-node-text {
    -fx-font-size: 25;
    -fx-alignment: center;
}

.multiChildNode {
    -fx-min-height: 0;
}
.multiChildNode-text {
    -fx-font-size:12;
    -fx-pref-height: 0;
}

.multiChildNode-border {
    -fx-stroke: black;
    -fx-fill: white;
}

.fluent-diamond {
    -fx-fill: white;
    -fx-stroke: black;
}

.exit-node {
    -fx-min-height: 0;
}

.exit-node-text {
    -fx-font-size: 12;
    -fx-background-color: #33993355;
    -fx-background-radius: 6;
    -fx-border-color: #339933FF;
    -fx-border-radius: 6;
    -fx-border-width: 4;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.action-node {
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.action-node-label {
    -fx-font-size: 25;
    -fx-border-color: transparent;
}

.action-node-label:expanded {
    -fx-font-size: 18;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-pref-height: 22;
}

.message-content-label {
    -fx-border-color: #FF9999BB;
    -fx-border-radius: 5;
    -fx-background-color: #FF999999;
    -fx-background-radius: 5px;
    -fx-text-fill: #771111FF;
    -fx-font-size: 12;
    -fx-padding: 3 20 3 10;
    -fx-max-width: 500;
}

.message-close-button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.message-more-label {
    -fx-border-color: #FF9999BB;
    -fx-border-radius: 5;
    -fx-background-color: #FF999999;
    -fx-background-radius: 5;
    -fx-text-fill: #771111FF;
    -fx-font-size: 11;
    -fx-padding: 2 10 2 10;
    -fx-alignment: center;
}

.reactive-arrow {
    -fx-stroke-width: 3;
    -fx-stroke-dash-array: 8 6;
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: black;
}

.arrow:false {
    -fx-stroke-width: 2;
    -fx-stroke: red;
}

.arrow-label {
    -fx-background-color: white;
    -fx-padding: 2;
}

.token {
    -fx-fill: derive(gold, 50%);
    -fx-stroke: gold;
    -fx-stroke-width: 2;
    -fx-stroke-type: outside;
}

.pane-title {
    -fx-font-size: 20;
}

.db-area {
    -fx-font-size: 15;
}

.domain-theory-label{
    -fx-border-radius: 3;
    -fx-border-color: black;
    -fx-padding: 2;
}

.domain-theory {
    -fx-font-size: 15;
    -fx-alignment: top-left;
    -fx-text-alignment: left;
    -fx-padding: 5;
}
